
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.PageTitle</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
</body>
</html>