<div class="menu">
    <ul>
        <li><a href="~/Index">Início</a></li>
        <li><a href="~/ListaDePersonagens">Lista De Personagens</a></li>
        <li><a href="~/SobreMim">Sobre</a></li>
    </ul>
</div>
