
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.PageTitle</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="~/">Início</a></li>
            <li><a href="~/ListaDePersonagens">Lista De Personagens</a></li>
            <li><a href="~/SobreMim">Sobre</a></li>
        </ul>
    </div>
    <div class="conteudo">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>
</body>
</html>