
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Street Fighter</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="~/StreetFighter">Início</a></li>
            <li><a href="https://www.google.com.br/webhp?sourceid=chrome-instant&rlz=1C1CHZL_pt-BRBR712BR712&ion=1&espv=2&ie=UTF-8#q=street+fighter&safe=active&tbm=nws" target="_blank">Notícias</a></li>
            <li><a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a></li>
            <li><a href="~/StreetFighter/Sobre">Sobre</a></li>
        </ul>
    </div>
    <div class="conteudo">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>
</body>
</html>