@using StreetFighter.Dominio
@{ 
    ViewBag.PageTitle = "Lista De Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/search.css" rel="stylesheet" />
<style>
    div a:hover{
        background-color: rgba(255, 0, 0, 0.40)!important;
    }
    h3{
        margin-left:15px;
    }
</style>
@Html.Partial("_Menu")
<div class="conteudo">
    <h2>Lista De Personagens</h2>
    <h3>@ViewBag.ListaVazia</h3>
    <h3>@TempData["EditadoOuCadastradoOuExcluido"]</h3>

    <a href="~/Cadastro" class="btn btn-default" style="margin-right: 20px; margin-left: 16px; margin-bottom: 16px; width: 175px; background-color: #ffc4c4; border: 2px solid #b50000; float: left;">Cadastrar Personagem</a>
    @using (Html.BeginForm("FiltrarPorNome", "StreetFighter", new { @class="navbar-form", role="search" }))
    {
        <div class="input-group" style="width: 334px;">
            <input type="text" class="form-control" placeholder="Filtrar por nome..." name="filtro">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    }
        <div class="list-group" style="clear:both;">
        @{
            foreach (Personagem personagem in Model.ListaDePersonagens)
            {
                <a href="~/FichaTecnica?Id=@personagem.Id" class="list-group-item list-group-item-action" style="margin-right: 10px; display: inline-block; width: 350px; font-weight: bold;">@personagem.Nome</a>
                <a href="~/Editar?Id=@personagem.Id" class="btn btn-default" style="width: 80px; background-color: #932c2c; color: #fff; border: 2px solid #b50000;">Editar</a>
                <a href="~/Excluir?Id=@personagem.Id" class="btn btn-default" style="width: 80px; background-color: #463434; color: #fff; border: 2px solid #b90000;">Excluir</a>
            }
        }
    </div>
</div>

<script>
    function buttonUp() {
        var valux = $('.sb-search-input').val();
        valux = $.trim(valux).length;
        if (valux !== 0) {
            $('.sb-search-submit').css('z-index', '99');
        } else {
            $('.sb-search-input').val('');
            $('.sb-search-submit').css('z-index', '-999');
        }
    }

    $(document).ready(function () {
        var submitIcon = $('.sb-icon-search');
        var submitInput = $('.sb-search-input');
        var searchBox = $('.sb-search');
        var isOpen = false;

        $(document).mouseup(function () {
            if (isOpen == true) {
                submitInput.val('');
                $('.sb-search-submit').css('z-index', '-999');
                submitIcon.click();
            }
        });

        submitIcon.mouseup(function () {
            return false;
        });

        searchBox.mouseup(function () {
            return false;
        });

        submitIcon.click(function () {
            if (isOpen == false) {
                searchBox.addClass('sb-search-open');
                isOpen = true;
            } else {
                searchBox.removeClass('sb-search-open');
                isOpen = false;
            }
        });

    });
</script>
